*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

/* variáveis */

:root{
    --primary-color:#47BEBA;
    --secondary-color:#F22E52;
    --text-color-button:#FFF;
    --padding-button: 1rem 2rem;
}

.primary-color{
    background: var(--primary-color);
    color: var(--text-color-button);
    padding: var(--padding-button);
    display: inline-block;
    border-radius: 5px;
}

.secondary-color{
    background: var(--secondary-color);
    color: var(--text-color-button);
    padding: var(--padding-button);
    display: inline-block;
    border-radius: 5px;
}

.container{
    width: 1172px;
    margin: auto;
}

h1{
    font-family: "Biryani", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #160647;
}

h3{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: #160647;
}

/* top header */

.top-header{
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
    padding-top: 40px;
}

.top-header header .container{
    display: flex;
    justify-content: space-between;
}

.top-header .logo{
    display: flex;
    align-items: center;
}

.top-header .logo h1{
    margin-right: 6px;
}

nav{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 0 16px;
}

.login .primary-color{
    margin-left: 16px;
}

/* cta */
.cta{
    padding: 208px 0;
}

.cta .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta h2{
    font-size: 64px;
    color: #160647;
    text-align: center;
}

.cta p{
    margin: 30px 0 40px;
    width: 679px;
    text-align: center;
    color: #6C6C6C;
}

.cta a{
    margin: 0 10px;
}

.cta a:hover{
    box-shadow: 0 0 10px #AAA ;
}

/* brands */

.brands .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.brands .container img{
    margin: 121px 117px 155px 0px;
}

/* about us */

.about-us .container{
    display: flex;
    margin-top: 100px;
}

.about-us .about-us-description h4{
    margin-top: 61px;
    font-size: 40px;
    text-transform: capitalize;
    color: #322853;
    font-weight: bold;
}

.about-us .about-us-description p{
    margin: 23px 116px 27px 0;
    color: #818181;
    font-size: 16px;
}

.about-us .about-us-description a{
    margin: 0 357px 38px 0;
    text-align: center;
}